{% extends "layout.html" %}
{% load static %}
{% load text_filters %}
{% load i18n %}

{% block title %}
    {% trans "Донат" %} — {{ strings.TITLE }}
{% endblock %}

{% block meta %}
    <meta property="og:title" content="{% trans "Донат" %} — {{ strings.TITLE }}">
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}/donate/">
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/static/images/favicon_128.png">
    <meta property="og:description" content="">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% trans "Донат" %} — {{ strings.TITLE }}">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}/static/images/favicon_128.png">
    <meta name="twitter:image:src" content="{{ request.scheme }}://{{ request.get_host }}/static/images/favicon_128.png">
{% endblock %}

{% block body %}
<div class="container">
    <div class="block donate">
        <div class="block-title">
            👍 {% trans "Поддержать автора" %}
        </div>

        <div class="block-description">
            {% trans "Независимые авторы в интернете — вымирающая редкость. Они существуют только благодаря людям, которые их поддерживают. Если вам нравится то, что я делаю, занести мне донат — это лучший способ сказать «спасибо»." %}
        </div>
    </div>

    {% if request.LANGUAGE_CODE == "ru" %}
        <div class="block donate-service" id="sbp">
            <div class="donate-service-image">
                <img src="{% static "images/donate/sbp.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>{% trans "СБП / Тиньков (карты РФ)" %}</strong><br>
                {% trans "Если вы из России, перевод на карту будет проще всего. По клику откроется удобное окошко." %}

                <br><br>

                <span class="donate-service-footer">
                    <span>{% trans "Номер телефона:" %}</span>
                    <span class="copy-phone" data-num="+79998148883"
                         onclick="
                           navigator.clipboard.writeText(this.dataset.num).then(() => {
                             const icon = this.querySelector('svg');
                             const copied = document.createElement('span');
                             copied.className = 'copy-phone-copied';
                             copied.innerText = 'Copied!';
                             this.replaceChild(copied, icon);
                             setTimeout(() => {
                               this.replaceChild(icon, copied);
                             }, 1500);
                           })
                        ">
                        <span>+79998148883</span>
                        <svg width="800px" height="800px" viewBox="0 -2 36 36" id="Lager_112" data-name="Lager 112" xmlns="http://www.w3.org/2000/svg">
                            <path id="Path_113" data-name="Path 113" d="M34,0H14a2,2,0,0,0-2,2V8H2a2,2,0,0,0-2,2V30a2,2,0,0,0,2,2H22a2,2,0,0,0,2-2V24H34a2,2,0,0,0,2-2V2A2,2,0,0,0,34,0ZM20,14V27a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V13a1,1,0,0,1,1-1H19a1,1,0,0,1,1,1ZM32,6V19a1,1,0,0,1-1,1H24V10a2,2,0,0,0-2-2H16V5a1,1,0,0,1,1-1H31a1,1,0,0,1,1,1Z" fill="#161615"/>
                        </svg>
                    </span>
                </span>
            </div>
            <div class="donate-service-button">
                <a href="https://www.tbank.ru/cf/7UBE2Mapqik" class="button" target="_blank">
                    💳 {% trans "Донатить" %}
                </a>
            </div>
        </div>

        <div class="block donate-service">
            <div class="donate-service-image">
                <img src="{% static "images/donate/stripe.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>{% trans "Через Stripe (карты не РФ)" %}</strong><br>

                {% trans "Позволяет задонатить мне в Евро с любых зарубежных карт. Поддерживает Google и Apple Pay." %}

            </div>
            <div class="donate-service-button">
                <a href="https://donate.stripe.com/5kA8xA9RGdZscQUeUU" class="button" target="_blank">
                    💶 {% trans "Донатить" %}
                </a>
            </div>
        </div>

        <div class="block donate-service">
            <div class="donate-service-image">
                <img src="{% static "images/donate/paypal.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>PayPal</strong><br>
                {% trans "Вариант для живущих заграницей и просто у кого там завалялась мелочь на аккаунте." %}
            </div>
            <div class="donate-service-button">
                <a href="https://paypal.me/vas3kcom" class="button" target="_blank">
                    💰 PayPal.me
                </a>
            </div>
        </div>

        <div class="block donate-service">
            <div class="donate-service-image">
                <img src="{% static "images/donate/revolut.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>Revolut</strong><br>
                {% trans "Прямой перевод для пользователей Революта." %}
            </div>
            <div class="donate-service-button">
                <a href="https://revolut.me/vas3k" class="button" target="_blank">
                    💳 {% trans "Донатить" %}
                </a>
            </div>
        </div>

        <div class="block donate-service">
            <div class="donate-service-image">
                <img src="{% static "images/donate/patreon.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>{% trans "На Патреоне" %}</strong><br>
                {% trans "Там можно заносить автоматически и получить ранний доступ и прочие плюшки." %}
            </div>
            <div class="donate-service-button">
                <a href="https://www.patreon.com/vas3k" class="button" target="_blank">❤️ {% trans "Стать Патроном" %}</a>
            </div>
        </div>
    {% else %}
        <div class="block donate-service">
            <div class="donate-service-image">
                <img src="{% static "images/donate/paypal.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>PayPal</strong><br>
                {% trans "Вариант для живущих заграницей и просто у кого там завалялась мелочь на аккаунте." %}
            </div>
            <div class="donate-service-button">
                <a href="https://paypal.me/vas3kcom" class="button" target="_blank">
                    💰 PayPal.me
                </a>
            </div>
        </div>

        <div class="block donate-service">
            <div class="donate-service-image">
                <img src="{% static "images/donate/ko-fi.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>Ko-fi</strong><br>
                {% trans "Можно задонатить одноразово или подписаться на новые обновления." %}
            </div>
            <div class="donate-service-button">
                <a href="https://ko-fi.com/vas3k" class="button" target="_blank">❤️ {% trans "Купить мне Ko-fi" %}</a>
            </div>
        </div>

        <div class="block donate-service">
            <div class="donate-service-image">
                <img src="{% static "images/donate/stripe.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>{% trans "Через Stripe (карты не РФ)" %}</strong><br>

                {% trans "Позволяет задонатить мне в Евро с любых зарубежных карт. Поддерживает Google и Apple Pay." %}

            </div>
            <div class="donate-service-button">
                <a href="https://donate.stripe.com/5kA8xA9RGdZscQUeUU" class="button" target="_blank">
                    💶 {% trans "Донатить" %}
                </a>
            </div>
        </div>

        <div class="block donate-service">
            <div class="donate-service-image">
                <img src="{% static "images/donate/revolut.png" %}">
            </div>
            <div class="donate-service-description">
                <strong>Revolut</strong><br>
                {% trans "Прямой перевод для пользователей Революта." %}
            </div>
            <div class="donate-service-button">
                <a href="https://revolut.me/vas3k" class="button" target="_blank">
                    💳 {% trans "Донатить" %}
                </a>
            </div>
        </div>
    {% endif %}

    <div class="block donate-service donate-service-column">
        <div class="donate-service-description">
            <strong>{% trans "Криптой" %}</strong>
        </div>

        <div class="donate-service-selector">
            <div class="donate-service-selector-item">
                <span>{% trans "Биткоин" %}</span>
                <img src="{% static "images/btc.png" %}" alt="Bitcoin QR code">
                <small>bc1qu5m46dq4zdmyye738pqe0wjcxtgmdq20qatm6k</small>
            </div>

            <div class="donate-service-selector-item">
                <span>{% trans "Эфир или USDT" %}</span>
                <img src="{% static "images/eth.png" %}" alt="ETH/ERC20 QR code">
                <small>0x35c0ef9C40568b25520d25235280e73a9bcb0d77</small>
            </div>

            <div class="donate-service-selector-item">
                <span>TON</span>
                <img src="{% static "images/ton.png" %}" alt="DOT QR code">
                <small>UQA3z-5WpahR8o5bJoo11FyWfogpfJgmLgnVNVZ8iXZfUS_6</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
