{% load text_filters %}
{% load posts %}
<a href="{{ post.get_absolute_url }}" class="card card-post card-vertical h-entry" style="background-image: url('{{ post.main_image }}');">
    {% if post.is_members_only %}
        <span class="card-icon-lock">
            {% if me %}<i class="fas fa-lock-open"></i>{% else %}<i class="fas fa-lock"></i>{% endif %}
        </span>
    {% endif %}
    <span class="card-views"><i class="fas fa-eye"></i>&nbsp;{{ post.view_count|cool_number }}</span>
    <span class="card-info">
        <span {% if post.data.headline_title_size %}style="font-size: {{ post.data.headline_title_size }};"{% endif %}>
            <span class="card-title p-name">{{ post.title }}</span>
        </span>
        {% if post.subtitle %}
            <span class="clearfix10"></span>
            <span class="card-subtitle p-summary">{{ post.subtitle }}</span>
        {% endif %}
    </span>
</a>
