{% extends "emails/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Подтверждение подписки" %}
{% endblock %}

{% block body %}
    <p>
        {% trans "Привет!" %}
    </p>

    <p>
        {% trans "Кто-то, возможно даже вы, хочет получать новые посты с блога <a href='https://vas3k.blog'>Вастрика</a> на этот адрес." %}
        {% trans "Нажмите сюда, чтобы подтвердить это" %} 👇
    </p>

    <br>

    <p style="text-align: center;">
        <a href="https://{{ request.get_host() }}/subscribe/confirm/{{ secret_hash }}/" class="button button-big">
            👍 {% trans "Да, я хочу подписаться" %}
        </a>
    </p>

    <br><br>

    <p>
        {% trans "Если вы не знаете о чём идет речь, значит кто-то по ошибке ввёл адрес вашей почты." %}
        {% trans "Просто проигнорируйте это письмо или нажмите" %} <a href="https://{{ request.get_host() }}/unsubscribe/{{ secret_hash }}/">DELETE</a> {% trans "и я удалю вас везде." %}
        {% trans "В любом случае, без вашего согласия по кнопке выше я ничего слать не буду." %}
    </p>
{% endblock %}
