<div class="block-extra-placeholder-text">
    🔒 Тут инфа только <a href="{% url "club" %}" target="_blank">для своих</a><br>
    <a href="{% url "login_patreon" %}?goto={{ request.scheme }}://{{ request.get_host }}{{ story.get_absolute_url }}" class="button members-only-button">Войти через Патреон</a>
    <a href="{% url "login" %}?goto={{ request.scheme }}://{{ request.get_host }}{{ story.get_absolute_url }}" class="button button-black" style="margin-top: 10px;" target="_blank">Войти через Вастрик.Клуб</a>
</div>
