{% load static %}
{% load i18n %}

<section class="contacts">
    {% if request.LANGUAGE_CODE == "ru" %}
        <a href="{% trans "https://t.me/vas3k_channel" %}" class="contacts-item" target="_blank" rel="me">
            <i class="fab fa-telegram"></i><span>{% trans "Телеграм-канал" %}</span>
        </a>
    {% endif %}

    <a href="{% trans "https://twitter.com/vas3k" %}" class="contacts-item" target="_blank" rel="me">
        <i class="fab fa-twitter-square"></i>
        <span>{% trans "Твиттер" %}</span>
    </a>

    <a href="{% trans "https://mastodon.online/@vas3k" %}" class="contacts-item" target="_blank" rel="me">
        <i class="fab fa-mastodon"></i>
        <span>{% trans "Мастодон" %}</span>
    </a>

    <a href="{% trans "https://bsky.app/profile/vas3k.bsky.social" %}" class="contacts-item" target="_blank" rel="me">
        <i class="fas fa-dove"></i>
        <span>{% trans "Блюскай" %}</span>
    </a>

    <a href="{% trans "https://www.patreon.com/vas3k" %}" class="contacts-item" target="_blank" rel="me">
        <i class="fab fa-patreon"></i>
        <span>{% trans "Патреон" %}</span>
    </a>

    <a href="{% trans "https://github.com/vas3k" %}" class="contacts-item" target="_blank" rel="me">
        <i class="fab fa-github"></i>
        <span>{% trans "Гитхаб" %}</span>
    </a>

    <a href="mailto:{% trans "me@vas3k.ru" %}" class="contacts-item" target="_blank" rel="me">
        <i class="fas fa-envelope"></i>
        <span>{% trans "me@vas3k.ru" %}</span>
    </a>

    <a href="https://{{ request.get_host }}/rss/" class="contacts-item" target="_blank" rel="syndication">
        <i class="fas fa-rss-square"></i>
        <span>{% trans "RSS" %}</span>
    </a>
</section>