<section class="post-subscribe">
    <div class="post-subscribe-header">
        ✅ Подписка на Вастрика
    </div>

    <div class="post-subscribe-description">
        🚨 Роскомнадзор банит одну соцсеть за другой,
        поэтому я рекомендую подписаться как по почте (её сложнее заблокировать),
        так и на вашей любимой площадке. Тогда у нас будет хотя бы два канала для связи.
    </div>

    <div class="post-subscribe-form">
        <form action="/subscribe/" method="post">
            <label class="post-subscribe-form-label" for="inside_email">Ваш электронный адрес:</label>
            <div class="post-subscribe-form-fields">
                {% csrf_token %}
                <input type="text" name="name" style="position: absolute; left: -99999px;">
                <input type="email" id="inside_email" name="email" placeholder="your@email.com" required="required">
                <button type="submit" class="button button-red">Подписаться</button>
            </div>
            <div class="post-subscribe-form-hint">
                * никакого спама, только мои уведомления
            </div>
        </form>
    </div>

    <div class="post-subscribe-sub-header">
        Другие площадки 👇
    </div>

    <div class="post-subscribe-items">
        <a href="https://t.me/vas3k_channel" class="button">Телеграм-канал</a>
        <a href="https://www.patreon.com/vas3k" class="button">Патреон</a>
        <a href="https://mastodon.online/@vas3k" class="button">Мастодон</a>
        <a href="https://twitter.com/vas3k" class="button">Твиттер</a>
        <a href="{% url "rss.full" %}" class="button">RSS</a>
    </div>
</section>
