{% load i18n %}

<section class="post-subscribe">
    <div class="post-subscribe-header">
        ✅ {% trans "Подписка на Вастрика" %}
    </div>

    <div class="post-subscribe-description">
        {{ strings.SUBSCRIBE }}
    </div>

    <div class="post-subscribe-form">
        <form action="{% url "subscribe" %}" method="post">
            <label class="post-subscribe-form-label" for="inside_email">{% trans "Ваш электронный адрес:" %}</label>
            <div class="post-subscribe-form-fields">
                {% csrf_token %}
                <input type="text" name="name" style="position: absolute; left: -99999px;">
                <input type="email" id="inside_email" name="email" placeholder="your@email.com" required="required">
                <button type="submit" class="button button-red">{% trans "Подписаться" %}</button>
            </div>
            <div class="post-subscribe-form-hint">
                {% trans "* никакого спама, только мои уведомления" %}
            </div>
        </form>
    </div>

    <div class="post-subscribe-sub-header">
        {% trans "Другие площадки" %} 👇
    </div>

    <div class="post-subscribe-items">
        {% if request.LANGUAGE_CODE == "ru" %}
            <a href="{% trans "https://t.me/vas3k_channel" %}" class="button">{% trans "Телеграм-канал" %}</a>
        {% endif %}
        <a href="{% trans "https://mastodon.online/@vas3k" %}" class="button">{% trans "Мастодон" %}</a>
        <a href="{% trans "https://bsky.app/profile/vas3k.bsky.social" %}" class="button">{% trans "Блюскай" %}</a>
        <a href="{% trans "https://twitter.com/vas3k" %}" class="button">{% trans "Твиттер" %}</a>
        <a href="{% trans "https://www.patreon.com/vas3k" %}" class="button">{% trans "Патреон" %}</a>
        <a href="{% url "rss.full" %}" class="button">RSS</a>
    </div>
</section>
